.block(style="padding:20px; background: linear-gradient(to bottom, #f7fbfc 0%,#d9edf2 40%,#add9e4 100%); width:1400px; margin:0 auto;")
    h1(style="font-weight:900;") Заголовок  h1
    h2(style="font-weight:900;") Заголовок  h2
    p Рыбка